ai.json
{
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=please give a new prompt every time.",
        "options": {
          "systemMessage": "=You are a world-class viral video prompt engineer specializing in short-form motivational content for YouTube Shorts using Google Veo 3.1.\\n\\nYour ONLY task is to generate a SINGLE, COMPLETE, READY-TO-PASTE prompt for AI video generation with synchronized audio.\\n\\nStrict objectives:\\n1. The video MUST be under 8 seconds total.\\n2. The video MUST be 9:16 vertical (YouTube Shorts).\\n3. The video MUST include cinematic visuals AND Hindi text-to-speech narration.\\n4. The output video must be ready to upload WITHOUT any editing.\\n5. Content style: ultra-emotional, high-retention, motivational, viral.\\n\\nCONTENT RULES:\\n- Language of narration: PURE HINDI (no English words).\\n- Tone: powerful, confident, emotionally charged.\\n- Target emotion: urgency, self-belief, transformation.\\n- Avoid clichés. Use sharp, modern motivational lines.\\n- Script must be 1–2 sentences only.\\n- Total spoken duration must be 6–7 seconds.\\n\\nVISUAL STYLE RULES:\\n- Cinematic lighting\\n- Slow motion or dramatic camera movement\\n- High contrast\\n- Emotional human subject (silhouette, face, or body language)\\n- Inspirational environment (city at night, sunrise, rain, mountains, training, struggle)\\n\\nAUDIO RULES:\\n- Male Hindi voice\\n- Deep, motivational, confident\\n- Clear pronunciation\\n- No background noise\\n- Add subtle cinematic background music automatically\\n\\nOUTPUT FORMAT RULES (MANDATORY):\\n- Output ONLY valid JSON\\n- NO explanations\\n- NO markdown\\n- NO extra text\\n\\nThe JSON must contain exactly these keys:\\n{\\n  \\\"video_prompt\\\": \\\"...\\\",\\n  \\\"voiceover_script_hindi\\\": \\\"...\\\",\\n  \\\"music_style\\\": \\\"...\\\",\\n  \\\"video_style\\\": \\\"...\\\",\\n  \\\"duration_seconds\\\": number\\n}\\n\\nThe video_prompt must be detailed and cinematic.\\nThe voiceover_script_hindi must be emotionally powerful and concise.\\nThe final result must feel like a viral YouTube Shorts motivation video.\\n\\nGenerate ONE prompt only."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        112,
        160
      ],
      "id": "ca8d13da-56d4-4480-931f-42bdf40a7931",
      "name": "AI Agent",
      "notes": "Image Size / Aspect Ratio: 9:16\n\nQuality: High"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3-pro-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        112,
        384
      ],
      "id": "82780198-a06f-4a29-bae6-846b6926c219",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "UNbmO8623X7i3F8d",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "video",
        "modelId": {
          "__rl": true,
          "value": "models/veo-3.1-fast-generate-preview",
          "mode": "list",
          "cachedResultName": "models/veo-3.1-fast-generate-preview"
        },
        "prompt": "=You are a professional cinematic AI video generator.\n\nCreate a SHORT, HIGH-IMPACT motivational video with the following exact specifications.\n\n━━━━━━━━━━━━━━━━━━\nTITLE:\n{{ $('Code in JavaScript1').item.json.title }}\n\n━━━━━━━━━━━━━━━━━━\nDURATION:\n{{ $('Code in JavaScript1').item.json.veo_prompt.duration_seconds }} seconds \n\n━━━━━━━━━━━━━━━━━━\nVIDEO FORMAT:\n- Aspect Ratio: 9:16 (Vertical / Mobile)\n- Resolution: Hyper-realistic 8K\n- Motion: Slow motion\n- Lighting: Golden hour, high contrast\n- Cinematic lens flares\n- Ultra-cinematic look\n\n━━━━━━━━━━━━━━━━━━\nVISUAL STORY (VIDEO SCRIPT):\n{{ $('Code in JavaScript1').item.json.veo_prompt.video_prompt }}\n━━━━━━━━━━━━━━━━━━\nVOICEOVER SCRIPT (HINDI – CLEAR & EMOTIONAL):\n\"तुम्हारी असली लड़ाई तुम्हारी सोच से है, दुनिया से नहीं।\"\n\n━━━━━━━━━━━━━━━━━━\nVOICE STYLE:\n{{ $('Code in JavaScript1').item.json.veo_prompt.voiceover_script_hindi }}\n\n━━━━━━━━━━━━━━━━━━\nBACKGROUND MUSIC:\n{{ $('Code in JavaScript1').item.json.veo_prompt.music_style }}\n\n━━━━━━━━━━━━━━━━━━\nVIDEO STYLE:\n{{ $('Code in JavaScript1').item.json.veo_prompt.video_style }}\n\n━━━━━━━━━━━━━━━━━━\nFINAL GOAL:\nCreate a viral-ready motivational short that delivers maximum emotional impact within 7 seconds.\n",
        "returnAs": "url",
        "options": {
          "aspectRatio": "9:16"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        1072,
        160
      ],
      "id": "60d4d755-ce4d-4b2c-b48b-5d5e01702acc",
      "name": "Generate a video",
      "credentials": {
        "googlePalmApi": {
          "id": "UNbmO8623X7i3F8d",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Get raw output string\nconst rawOutput = items[0].json.output;\n\n// 2. Remove markdown code fences and extra text\nconst cleaned = rawOutput\n  .replace(/```json|```/g, '')\n  .trim();\n\n// 3. Parse JSON\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch (error) {\n  throw new Error('Failed to parse AI JSON output');\n}\n\n// 4. Extract fields\nconst {\n  video_prompt,\n  voiceover_script_hindi,\n  music_style,\n  video_style,\n  duration_seconds\n} = parsed;\n\n// 5. Generate viral Hindi title (short + punchy)\nconst title = voiceover_script_hindi\n  .replace(/[।.]/g, '')\n  .trim()\n  .slice(0, 60);\n\n// 6. Final output\nreturn [\n  {\n    json: {\n      title,\n      veo_prompt: {\n        video_prompt,\n        voiceover_script_hindi,\n        music_style,\n        video_style,\n        duration_seconds\n      }\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        160
      ],
      "id": "47467333-2b6a-4036-8577-f24f18550c24",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-goog-api-key",
              "value": "AIzaSyDJcJeTliTpLbdbuCcmKM94fioQs7l5EpA"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "example.mp4"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1264,
        160
      ],
      "id": "1f88f49a-d662-464a-af9c-59e337fdbf1c",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-pro",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-pro"
        },
        "messages": {
          "values": [
            {
              "content": "Create a human-friendly title and description from the output. The title should be straightforward, about 5 to 10 words long. The description should be exactly two lines and easy to understand. Don’t add anything unnecessary—just keep it clear and simple."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        800,
        160
      ],
      "id": "c25c2d10-bffc-4386-bddf-ceef0a3fac85",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "UNbmO8623X7i3F8d",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $('Code in JavaScript1').item.json.title }}",
        "regionCode": "IN",
        "categoryId": "24",
        "binaryProperty": "example.mp4",
        "options": {}
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        1408,
        160
      ],
      "id": "b3680736-db1b-4282-a64e-9c744da18a8f",
      "name": "Upload a video",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "EVxt6R1m3bNM4FOM",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9e35520f-c5fe-46d5-80cd-efb33bab4e40",
              "name": "prompt",
              "value": "You are a world-class viral video prompt engineer specializing in short-form motivational content for YouTube Shorts using Google Veo 3.1.\\n\\nYour ONLY task is to generate a SINGLE, COMPLETE, READY-TO-PASTE prompt for AI video generation with synchronized audio.\\n\\nStrict objectives:\\n1. The video MUST be under 8 seconds total.\\n2. The video MUST be 9:16 vertical (YouTube Shorts).\\n3. The video MUST include cinematic visuals AND Hindi text-to-speech narration.\\n4. The output video must be ready to upload WITHOUT any editing.\\n5. Content style: ultra-emotional, high-retention, motivational, viral.\\n\\nCONTENT RULES:\\n- Language of narration: PURE HINDI (no English words).\\n- Tone: powerful, confident, emotionally charged.\\n- Target emotion: urgency, self-belief, transformation.\\n- Avoid clichés. Use sharp, modern motivational lines.\\n- Script must be 1–2 sentences only.\\n- Total spoken duration must be 6–7 seconds.\\n\\nVISUAL STYLE RULES:\\n- Cinematic lighting\\n- Slow motion or dramatic camera movement\\n- High contrast\\n- Emotional human subject (silhouette, face, or body language)\\n- Inspirational environment (city at night, sunrise, rain, mountains, training, struggle)\\n\\nAUDIO RULES:\\n- Male Hindi voice\\n- Deep, motivational, confident\\n- Clear pronunciation\\n- No background noise\\n- Add subtle cinematic background music automatically\\n\\nOUTPUT FORMAT RULES (MANDATORY):\\n- Output ONLY valid JSON\\n- NO explanations\\n- NO markdown\\n- NO extra text\\n\\nThe JSON must contain exactly these keys:\\n{\\n  \\\"video_prompt\\\": \\\"...\\\",\\n  \\\"voiceover_script_hindi\\\": \\\"...\\\",\\n  \\\"music_style\\\": \\\"...\\\",\\n  \\\"video_style\\\": \\\"...\\\",\\n  \\\"duration_seconds\\\": number\\n}\\n\\nThe video_prompt must be detailed and cinematic.\\nThe voiceover_script_hindi must be emotionally powerful and concise.\\nThe final result must feel like a viral YouTube Shorts motivation video.\\n\\nGenerate ONE prompt only.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -48,
        160
      ],
      "id": "73805558-b7a4-4aeb-b601-04092679315b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 17,
              "triggerAtMinute": 17
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -256,
        160
      ],
      "id": "5dbf5290-81a2-4d5f-ba2b-685118ec09cb",
      "name": "Schedule Trigger",
      "alwaysOutputData": false
    }
  ],
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generate a video": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Upload a video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Generate a video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b4af66c26ddb53b6ae8985c0a3accc25227d9778702cf8062eae0558473639af"
  }
}
